@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --colors-signal-500: rgba(255, 173, 1, 1);
  --colors-white: rgba(255, 255, 255, 1);
  --colors-gray-300: rgba(209, 213, 219, 1);
  --colors-signal-600: rgba(217, 119, 6, 1);
  --colors-marine-900: rgba(11, 18, 33, 1);
  --colors-white-10: rgba(255, 255, 255, 0.1);
  --colors-marine-900-90: rgba(11, 18, 33, 0.9);
  --colors-marine-900-0: rgba(11, 18, 33, 0);
  --colors-marine-900-80: rgba(11, 18, 33, 0.8);
  --colors-signal-500-30: rgba(255, 173, 1, 0.3);
  --colors-signal-500-10: rgba(255, 173, 1, 0.1);
  --colors-gray-400: rgba(156, 163, 175, 1);
  --colors-gray-100: rgba(243, 244, 246, 1);
  --colors-white-20: rgba(255, 255, 255, 0.2);
  --colors-marine-800-50: rgba(19, 31, 51, 0.5);
  --colors-marine-800: rgba(19, 31, 51, 1);
  --colors-white-5: rgba(255, 255, 255, 0.05);
  --colors-gray-500: rgba(107, 114, 128, 1);
  --colors-signal-500-20: rgba(255, 173, 1, 0.2);
  --colors-black-25: rgba(0, 0, 0, 0.25);
  --colors-black-10: rgba(0, 0, 0, 0.1);
  --colors-signal-500-50: rgba(255, 173, 1, 0.5);
  --colors-gray-600: rgba(75, 85, 99, 1);
  --colors-green-600: rgba(22, 163, 74, 1);
  --colors-gray-200: rgba(229, 231, 235, 1);
  --colors-marine-700: rgba(30, 45, 74, 1);
  --colors-marine-900-10: rgba(11, 18, 33, 0.1);
  --colors-black-5: rgba(0, 0, 0, 0.05);
  --colors-gray-50: rgba(249, 250, 251, 1);
  --colors-marine-900-40: rgba(11, 18, 33, 0.4);
  --colors-marine-800-90: rgba(19, 31, 51, 0.9);
  --colors-marine-900-60: rgba(11, 18, 33, 0.6);
  --colors-signal-500-0: rgba(255, 173, 1, 0);
  --spacing-8: 32px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-2: 8px;
  --spacing-5: 20px;
  --spacing-2-5: 10px;
  --spacing-6: 24px;
  --spacing-20: 80px;
  --spacing-0: 0px;
  --spacing-1: 4px;
  --spacing-12: 48px;
  --spacing-16: 64px;
  --spacing-24: 96px;
  --spacing-10: 40px;
  --spacing-32: 128px;
  --spacing-44: 176px;
  --spacing-48: 192px;
  --spacing-1-5: 6px;
  --spacing-96: 384px;
  --spacing-7: 28px;
  --spacing-64: 256px;
  --spacing-px: 1px;
  --fontFamily-display: "Chakra Petch", sans-serif;
  --fontFamily-body: Inter, sans-serif;
  --fontFamily-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --fontWeight-bold: 700;
  --fontWeight-medium: 500;
  --fontWeight-semibold: 600;
  --fontWeight-light: 300;
  --fontSize-2xl: 24px;
  --fontSize-sm: 14px;
  --fontSize-xl: 20px;
  --fontSize-lg: 18px;
  --fontSize-xs: 12px;
  --fontSize-base: 16px;
  --fontSize-5xl: 48px;
  --fontSize-7xl: 72px;
  --fontSize-4xl: 36px;
  --fontSize-3xl: 30px;
  --borderRadius-sm: 2px;
  --borderRadius-full: 9999px;
  --borderRadius-lg: 8px;
  --borderRadius-DEFAULT: 4px;
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html,
  body,
  #root {
    min-height: 100%;
  }

  body {
    margin: 0;
    font-family: var(--fontFamily-body);
    background-color: var(--colors-marine-900);
    color: var(--colors-white);
  }
}