@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --colors-marine-900: rgba(11, 18, 33, 1);
  --fontFamily-body: Inter, sans-serif;
  --colors-white: rgba(255, 255, 255, 1);
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html,
  body,
  #root {
    min-height: 100%;
  }

  body {
    margin: 0;
    font-family: var(--fontFamily-body);
    background-color: var(--colors-marine-900);
    color: var(--colors-white);
  }
}
